body {
    background-image: url(/assets/maps/map.png);
    margin: 0;
}

#easy-mode {
    font: bolder;
    font-family: 'Zombie', sans-serif;
    font-size: large;
    background-color: red;
    border-radius: 5px;
    border-color: red;
    font-weight: 100;
}

#hard-mode {
    font: bolder;
    font-family: 'Zombie', sans-serif;
    font-size: large;
    background-color: red;
    border-radius: 5px;
    border-color: red;
    font-weight: 100;
}

.difficulty {
    font-family: 'Zombie', sans-serif;
    font-weight: 100;
    font-size: 25px;
    color: white;
    align-self: flex-end;
}

.scoreboard-container {
    z-index: -1; /*puts element to the back*/
    font-family: 'Zombie', sans-serif;
    color: white;
    font: bolder; 
    padding: 2px;
    display: flex;
    justify-content: flex-end;
    right: 0%;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 40px;
    position: absolute; /* takes away the bar at the top and fixed aim issues*/
    display: none;
}

.scoreboard-container ul {
    list-style-type: none;
}

#startScreen {
    background-color: black;
    font-family: 'Zombie', sans-serif;
    color: rgb(165, 21, 21);
    font-size: 40px;
    display: flex;
    justify-content:space-around;
    margin: 300px;
    padding: 40px;
    top: 50%;
    right: 50%;
    text-align: center;
    border-radius: 12px;
    display: block;
    font-weight: 100;
}

.instructions {
    font-family: 'Zombie', sans-serif;
    font-weight: 100;
    font-size: 25px;
    color: white;
    align-self: flex-end;
}

.instruction-icons {
    width: 130px;
    height: 130px;
    background-color: white;
    border-radius: 20px;
}

#points {
    list-style-type: none;
    font-size: 20px;
    color: white;
    font-weight: 100;  
}

#levelEle {
    font-family: 'Zombie', sans-serif;
    font-size: 80px;
    color: red;
    display: flex;
    justify-content: center;
    position: absolute;
    display: none;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0) /*negative to move it left, 50% to move it to the middle*/
}

#gameOverLevel {
    font-size: 30px;
    font-weight: 100;
}

#gameOver {
    background-color: black;
    font-family: 'Zombie', sans-serif;
    color: white;
    display: flex;
    justify-content:space-around;
    margin: 300px;
    padding: 20px;
    top: 50%;
    right: 50%;
    text-align: center;
    border-radius: 20px;
    display: none;
    font-size: 32px;
}

#scoreEle {
    font-size: 30px;
    font-weight: 100;
}

#restart {
    font: bolder;
    font-family: 'Zombie', sans-serif;
    font-size: large;
    background-color: red;
    border-radius: 5px;
    border-color: red;
}

.socials-container {
    position: relative;
}

.socials {
    color: red;
    text-decoration: none;
    top: 5px;
    padding: 10px;
    position: absolute;
    font-size: 30px;
    display: none;
}

.socials:nth-child(1) {
    right: 10px;
}

.socials:nth-child(2) {
    right: 50px;
}

.socials-container2 {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 10px;
}

.socials2 {
    color: white;
}

.socials2:nth-child(1) {
    margin: 10px 7px;
}

.socials2:nth-child(2) {
    margin: 10px 7px;
}

.audio-container {
    top: 10px;
    padding: 5px;
    position: absolute;
    left: 10px;
}

.icon:nth-child(1) {
    margin: 10px 7px;
}

/* .icon:nth-child(2) {
    margin: 0px 7px;
} */

.music-button {
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
}
